* {
    box-sizing: border-box;
}

body {
    background-color: #17171d;
    font-family: Arial, "微軟正黑體", Helvetica, sans-serif;
    color: #fff;
}



a {
    color: #fff;
    text-decoration: none;
}

// tool
.img-resp,
.fancybox-image {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.mask {
    overflow: hidden;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

// public

// navigation

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 0 10px;
    transition: all 1s;
}

.nav-ls {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: 15px;
    align-items: baseline;
}

.nav-item {
    transition: all .3s;

    &:hover {
        transform: translateY(-20%);
    }
}

.nav-item>a {
    color: #bbb;
    transition: all .3s;

    &:hover {
        color: #fff;
        transform: translateX(-50px);
    }
}

.arrow {
    position: fixed;
    bottom: 5%;
    display: flex;
    right: 5%;
    z-index: 1;

    a {
        display: block;
        width: 20px;
        height: 60px;
        background-image: url(../images/ss-cut.png);
        background-size: 300%;
        background-repeat: no-repeat;
    }

    .prev-arrow {
        background-position: 0 0;
    }

    .home-arrow {
        background-position: -20px 0;
    }

    .next-arrow {
        background-position: -40px 0;
    }
}

// slide
.slide {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide-ls {
    position: absolute;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    width: 500vw;
    height: 100vh;
    top: 0;
    transition: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    left: 0%;
}

.slide-item {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.slide-head {
    position: absolute;
    // border: 2px solid yellowgreen;

    img {
        box-shadow: 15px 15px rgba(51, 51, 51, 0.6);
    }
}

.slide-body {
    position: absolute;
    // border: 2px solid orangered;
}

.title {
    font-size: 48px;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
}


.cover {
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    // margin-top: 20%;
    // margin-left: 20%;
    img {
        width: 40%;
    }

    .title {
        // position: absolute;
        // top: 35%;
        // left: 55%;
        position: absolute;
        top: 30%;
        left: 37%;

        h2 {
            font-size: 24px;
            float: right;
            color: #ccc;
            text-shadow: 0px 0px 1px #fff;

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

        h3 {
            color: #17171d;
            font-size: 32px;
            text-shadow: 0px 0px 1px #fff;
        }

        a {
            display: block;
            font-size: 18px;
            margin-top: 30px;
            width: 40%;
            background-color: #9090b6;
            border-radius: 15px;
            margin-left: 5%;
            padding: 15px;
            transition: all .3s;

            &:hover {
                background-color: #9090b6c5;
            }
        }
    }
}


// slide-about

.about-head {
    top: 20%;
    left: 15%;
    width: 30%;
    height: 60%;

}

.about-body {
    top: 30%;
    left: 45%;
    width: 40%;

    .title {
        padding-left: 35px;
    }

    .about-text {
        margin-top: -40px;
        padding: 50px 40px 40px;
        background-color: #333;
        color: #fff;
        line-height: 1.6rem;
        z-index: -1;
        box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
        text-align: justify;
    }
}

// slide-member

.member-head,
.result-head {
    top: 15%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
}

.member-body {
    position: absolute;
    top: 30%;
    width: 80%;
    margin: 0 10%;

    img {
        box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
    }
}

.member-ls {
    display: flex;
    justify-content: space-between;
}

.member-item {
    width: 15%;
}

.member-name {
    color: #fff;
    font-size: 24px;
}

// line-bot
.linebot-head {
    top: 20%;
    left: 20%;
    width: 30%;
    height: 60%;
    text-align: center;

    h2 {
        margin-bottom: 40px;
    }

    .linebot-text {
        padding: 0 10%;
        color: #fff;
        text-align: justify;
        line-height: 1.6;
        margin-bottom: 10%;
    }

    i {
        font-size: 64px;
        color: lightgreen;
        padding: 15px;
    }
}

.linebot-body {
    top: 20%;
    left: 55%;
    width: 15%;
    height: 60%;
    border-radius: 15px;
    border: 3px solid #fff;
    box-shadow: 15px -15px 20px #48485030;
    -webkit-box-reflect: below 0px linear-gradient(transparent 95%, rgba(51, 51, 51, 0.4));

    img {
        transition: transform 3s;

        &:hover {

            transform: translateY(-70%);
        }
    }
}

.linebot-other {
    position: absolute;
    top: 80%;
    width: 60%;
    height: 100%;
    margin: 10% 20%;

    .title {
        margin-top: 20%;
    }
}


// results

.result-head {
    .title {
        text-align: center;
    }

    top: 15%;
}

.result-body {
    top: 25%;
    left: 20%;
    width: 60%;
}

.ball-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    margin: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.data-ball {
    background-color: #21214b;
    width: 44%;
    height: 8vw;
    flex-direction: column;
    margin: 3%;
    transition: all .6s;

    &:hover {
        background-color: #2e367c;
    }

    .data {
        // display: none;
        color: #21214b;
        transition: all .6s;
        font-size: 36px;

    }

    &:hover .data {
        // display: block;
        color: #fff;
    }
}

.ball1 {
    width: 100%;
}





// Module

.slide-down {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 5%;
    background-image: radial-gradient(#3f3f50 5%, #17171d, transparent);
    transition: all .5s;


    // background-color: ;
    a {
        margin-top: -2%;
        font-size: 24px;
        transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }

}


// js

.js-img-scroll {
    transform: translateY(-70%);
}

.js-nav-btn>a {
    color: #fff;
}

.js-nav {
    // background-color: #17171dee;
    background-color: #0a0a0cee;
}

// RWD

@media screen and (min-width: 1200px) {

    .cover {
        top: 20%;
        left: 10%;
        width: 80%;

        .title {
            h1 {
                font-size: 80px;
            }

            h2 {
                font-size: 60px;
            }

            h3 {
                font-size: 48px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav-ls {
        width: 70%;
        font-size: 16px;
    }

    .cover {
        // margin-top: 35%;
        // margin-left: 10%;
        top: 30%;
        left: 10%;

        .title {
            // top: 35%;
            // left: 45%;
        }
    }

    .about-body {
        width: 40%;
    }

    .member-ls {
        display: flex;
        flex-wrap: wrap;
    }

    .member-item {
        width: 33.33%;
        padding: 30px;
    }

    .linebot-head {
        left: 15%;
        width: 50%;

        .title {
            padding: 15px 20px 35px;
        }
    }

    .linebot-body {
        left: 65%;
        top: 20%;
        height: 35%;
    }

    .linebot-other {
        margin: 0 20%;
        width: 60%;

        .title {
            margin-top: 30%;
        }
    }

    .ball-group {
        font-size: 24px;

        .data-ball {
            height: 25%;
            padding: 8%;
        }

        .data {
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 414px) {

    // tool


    // -----

    .nav-ls {
        width: 80%;
        font-size: 12px;
    }

    .nav-logo {
        background-color: transparent;
        position: static;
        height: 40px;
    }

    .cover {
        // margin-top: 50%;

        .title {
            margin-top: -5%;

            h1 {
                padding: 6px 0;
                margin-left: -20px;
                font-size: 24px;
            }

            h2 {
                font-size: 16px;
            }

            h3 {
                font-size: 18px;
            }

            a {
                width: 70%;
                font-size: 10px;
            }
        }
    }

    .title {
        font-size: 24px;
        color: #fff;
        padding: 15px;
        text-transform: uppercase;
    }

    .about-head {
        top: 20%;
    }

    .about-body {
        top: 25%;
        overflow: scroll;

        .title {
            padding: 15px 15px 15px 25px;
        }

        .about-text {
            top: 25px;
            font-size: 12px;
            padding: 20px 25px 15px;
            margin-top: -30px;
        }
    }

    .linebot-head {
        left: 10%;
        width: 40%;
        height: 60%;

        .title {
            padding: 15px 0 15px;
        }

        .linebot-text {
            padding: 0;
            height: 50%;
            overflow: scroll;

        }

        i {
            font-size: 24px;
        }
    }

    .linebot-body {
        top: 30%;
        left: 55%;
        width: 30%;
        height: 40%;
    }

    .linebot-other {
        margin: 0 10%;
        width: 80%;

        .title {
            margin-top: 50%;
        }
    }





    .member-item {
        padding: 10px;
    }

    .result-head {
        .title {
            padding: 15px;
        }
    }
    .result-body {
        left: 10%;
        width: 80%;
    }
    .ball-group {
        font-size: 14px;

        .data-ball {
            height: 25%;
            padding: 8%;
        }

        .data {
            font-size: 20px;
        }
    }

    .slide-down {
        a {
            margin-top: -2%;
            font-size: 16px;
            transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }

    }
}