@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #17171d;
  font-family: Arial, "微軟正黑體", Helvetica, sans-serif;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.img-resp,
.fancybox-image {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.mask {
  overflow: hidden;
}

.align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preload-img {
  font-size: 36px;
  z-index: -1;
}

.preload-img::after {
  content: "preload-img";
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  text-align: center;
  line-height: 100vh;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav-item > a {
  color: #bbb;
}

.btn {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 1;
}

.btn .btn-ls {
  position: relative;
}

.btn .btn-ls .btn-item {
  display: block;
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition: all 0.5 cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.5 cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slide-ls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  top: 0;
  -webkit-transition: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.slide-item {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.slide-head {
  position: absolute;
}

.slide-head img {
  -webkit-box-shadow: 15px 15px rgba(51, 51, 51, 0.6);
          box-shadow: 15px 15px rgba(51, 51, 51, 0.6);
}

.slide-body {
  position: absolute;
}

.title {
  font-size: 48px;
  color: #fff;
  padding: 15px 15px 15px 35px;
  text-transform: uppercase;
}

.cover {
  width: 40%;
  margin-top: 10%;
  margin-left: 20%;
}

.cover .title {
  position: absolute;
  top: 35%;
  left: 55%;
}

.cover .title h2 {
  font-size: 24px;
  float: right;
  color: #ccc;
  text-shadow: 0px 0px 1px #fff;
}

.cover .title h2::after {
  content: "";
  display: block;
  clear: both;
}

.cover .title h3 {
  color: #17171d;
  font-size: 32px;
  text-shadow: 0px 0px 1px #fff;
}

.cover .title a {
  display: block;
  font-size: 18px;
  margin-top: 30px;
  width: 40%;
  background-color: #9090b6;
  border-radius: 15px;
  margin-left: 5%;
  padding: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cover .title a:hover {
  background-color: #9090b6c5;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  border-radius: 50%;
  margin: 0 20px;
  width: 40px;
  height: 40px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  color: rgba(255, 255, 255, 0.4);
}

.prev-arrow:hover,
.next-arrow:hover {
  color: #666;
  background-color: rgba(255, 255, 255, 0.7);
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.about-head {
  top: 20%;
  left: 15%;
  width: 30%;
  height: 60%;
}

.about-body {
  top: 30%;
  left: 45%;
  width: 40%;
}

.about-body .about-text {
  margin-top: -40px;
  padding: 50px 40px 40px;
  background-color: #333;
  color: #fff;
  line-height: 1.6rem;
  z-index: -1;
  -webkit-box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
          box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
  text-align: justify;
}

.member-head {
  top: 15%;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  text-align: center;
}

.member-body {
  position: absolute;
  top: 30%;
  width: 80%;
  margin: 0 10%;
}

.member-body img {
  -webkit-box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
          box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
}

.member-ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member-item {
  width: 15%;
}

.member-name {
  color: #fff;
  font-size: 24px;
}

.linebot-head {
  top: 20%;
  left: 20%;
  width: 30%;
  height: 60%;
  text-align: center;
}

.linebot-head h2 {
  margin-bottom: 40px;
}

.linebot-head .linebot-text {
  padding: 0 10%;
  color: #fff;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 10%;
}

.linebot-head i {
  font-size: 64px;
  color: lightgreen;
  padding: 15px;
}

.linebot-body {
  top: 20%;
  left: 55%;
  width: 15%;
  height: 60%;
  border-radius: 15px;
  border: 3px solid #fff;
  -webkit-box-shadow: 15px -15px 20px #48485030;
          box-shadow: 15px -15px 20px #48485030;
  -webkit-box-reflect: below 0px linear-gradient(transparent 95%, rgba(51, 51, 51, 0.4));
}

.linebot-body img {
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

.linebot-body img:hover {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.linebot-other {
  position: absolute;
  top: 80%;
  width: 60%;
  height: 100%;
  margin: 10% 20%;
}

.linebot-other .title {
  margin-top: 20%;
}

.ball-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  margin: 3%;
}

.data-ball {
  background-color: #2e1842;
  width: 44%;
  height: 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3%;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.data-ball:hover {
  background-color: #663792;
}

.data-ball .data {
  color: #2e1842;
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 36px;
}

.data-ball:hover .data {
  color: #fff;
}

.ball1 {
  width: 100%;
}

.slide-down {
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 5%;
  background-image: radial-gradient(#3f3f50 5%, #17171d, transparent);
}

.slide-down a {
  margin-top: -2%;
  font-size: 24px;
  -webkit-transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.js-nav-btn a {
  color: #fff;
}

.js-img-scroll {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

@media screen and (max-width: 1024px) {
  .nav-ls {
    width: 70%;
    font-size: 16px;
  }
  .cover {
    margin-left: 10%;
  }
  .cover .title {
    top: 15%;
    left: 45%;
  }
  .about-body {
    width: 40%;
  }
  .member-ls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .member-item {
    width: 33.33%;
    padding: 10px;
  }
  .linebot-head {
    left: 15%;
    width: 50%;
  }
  .linebot-head .title {
    padding: 15px 20px 35px;
  }
  .linebot-body {
    left: 65%;
    top: 20%;
    height: 35%;
  }
  .linebot-other {
    margin: 0 20%;
    width: 60%;
  }
  .linebot-other .title {
    margin-top: 30%;
  }
  .ball-group {
    font-size: 24px;
  }
  .ball-group .data-ball {
    height: 25%;
    padding: 8%;
  }
  .ball-group .data {
    font-size: 32px;
  }
}

@media screen and (max-width: 414px) {
  .nav-ls {
    width: 80%;
    font-size: 12px;
  }
  .nav-logo {
    background-color: transparent;
    position: static;
    height: 40px;
  }
  .cover {
    margin-top: 50%;
  }
  .cover .title {
    margin-top: 20%;
  }
  .cover .title h1 {
    padding: 6px 0;
    margin-left: -20px;
    font-size: 24px;
  }
  .cover .title h2 {
    font-size: 16px;
  }
  .cover .title h3 {
    font-size: 18px;
  }
  .cover .title a {
    width: 70%;
    font-size: 10px;
  }
  .title {
    font-size: 24px;
    color: #fff;
    padding: 15px 15px 15px 25px;
    text-transform: uppercase;
  }
  .about-head {
    top: 20%;
  }
  .about-body {
    top: 25%;
    overflow: scroll;
  }
  .about-body .about-text {
    top: 25px;
    font-size: 12px;
    padding: 20px 25px 15px;
    margin-top: -30px;
  }
  .linebot-head {
    left: 10%;
    width: 40%;
    height: 60%;
  }
  .linebot-head .title {
    padding: 15px 0 15px;
  }
  .linebot-head .linebot-text {
    padding: 0;
    height: 50%;
    overflow: scroll;
  }
  .linebot-head i {
    font-size: 24px;
  }
  .linebot-body {
    top: 30%;
    left: 55%;
    width: 30%;
    height: 40%;
  }
  .linebot-other {
    margin: 0 10%;
    width: 80%;
  }
  .linebot-other .title {
    margin-top: 50%;
  }
  .ball-group {
    font-size: 14px;
  }
  .ball-group .data-ball {
    height: 25%;
    padding: 8%;
  }
  .ball-group .data {
    font-size: 20px;
  }
  .slide-down a {
    margin-top: -2%;
    font-size: 16px;
    -webkit-transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .slide-down .shadow {
    margin: auto;
    width: 16px;
    height: 5px;
    margin-top: %;
    background-color: #17171d;
    border-radius: 50%;
    -webkit-transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
}
/*# sourceMappingURL=all.css.map */