* {
    box-sizing: border-box;
}

body {
    background-color: #17171d;
    font-family: Arial, "微軟正黑體", Helvetica, sans-serif;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

// tool--------------------------------
.img-resp,
.fancybox-image {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.mask {
    overflow: hidden;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

// public--------------------------------

// navigation--------------------------------

.nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-transform: uppercase;
    // padding: 15px 0 10px;
    transition: all 1s;
}

.nav-ls {
    display: flex;
    width: 40%;
    justify-content: space-between;
    // margin: 15px;
    align-items: baseline;
}

.nav-hover {
    transition: all .3s;

    &:hover {
        transform: translateY(-5%);
    }
}

.nav-item>a {
    display: block;
    color: #bbb;
    transition: all .3s;
    height: 4rem;
    line-height: 4rem;

    &:hover {
        color: #fff;
    }
}

.lang-item {
    position: absolute;
    left: 5%;
    width: 10%;
    color: #bbb;

    .lang-btn {
        display: block;
        margin: 0 0 10px;
        letter-spacing: 1px;
        transition: all .1s;
    }

    span {
        border-bottom: 1px solid transparent;
        padding-left: 10px;
        padding-bottom: 8px;
        transition: all .3s;
    }

    ul {
        transform: translateX(-200px);
        transition: all .5s;
    }

    li {
        padding: 0 0 5%;

        a {
            color: #bbb;
        }
    }

    &:hover {
        .lang-btn {
            color: #fff;
        }

        span {
            border-bottom: 1px solid #fff;
        }

        ul {
            transform: translateX(0);

            li:hover a {
                color: #fff;
            }
        }
    }
}







// .arrow {
//     position: fixed;
//     bottom: 5%;
//     display: flex;
//     right: 5%;
//     z-index: 1;

//     a {
//         display: block;
//         width: 20px;
//         height: 60px;
//         background-image: url(../images/ss-cut-2.png);
//         background-size: 300%;
//         background-repeat: no-repeat;
//     }

//     .prev-arrow {
//         background-position: 0 0;

//         &:hover {
//             background-position: 0 -60px;
//         }
//     }

//     .home-arrow {
//         background-position: -20px 0;

//         &:hover {
//             background-position: -20px -60px;
//         }
//     }

//     .next-arrow {
//         background-position: -40px 0;

//         &:hover {
//             background-position: -40px -60px;
//         }
//     }
// }

// slide--------------------------------
.slide {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 5%;
}

.slide-ls {
    position: absolute;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    width: 500vw;
    height: 100vh;
    top: 0;
    left: 0%;
    transition: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.slide-item {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.slide-head {
    position: absolute;
    // border: 2px solid yellowgreen;

    img {
        box-shadow: 15px 15px rgba(51, 51, 51, 0.6);
    }
}

.slide-body {
    position: absolute;
    // border: 2px solid orangered;
}

.title {
    font-size: 48px;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
}

// home--------------------------------
.cover {
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    img {
        width: 40%;
    }

    .title {
        // position: absolute;
        // top: 35%;
        // left: 55%;
        position: absolute;
        top: 30%;
        left: 37%;

        h2 {
            font-size: 24px;
            float: right;
            color: #ccc;
            text-shadow: 0px 0px 1px #fff;

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

        h3 {
            color: #17171d;
            font-size: 32px;
            text-shadow: 0px 0px 1px #fff;
        }

        a {
            display: block;
            font-size: 18px;
            margin-top: 30px;
            width: 40%;
            background-color: #9090b6;
            border-radius: 15px;
            margin-left: 5%;
            padding: 15px;
            transition: all .3s;

            &:hover {
                background-color: #9090b6c5;
            }
        }
    }
}

// home > intro
.intro {
    position: relative;
    top: 100%;
    width: 70%;
}

.intro-ls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    margin: -2%;
}

.intro-item {
    position: relative;
    width: 25%;
    height: 30vw;
    padding: 1px;
    background-image: linear-gradient(135deg, #fff, transparent);

}

.intro-item>a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2e367c;
    border: 10px solid #17171d;
    transition: all .3s;
    text-transform: capitalize;

    &:hover {
        background-color: #53599e;
    }
}

.intro-item-info {
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    padding-bottom: 20%;


    h2 {
        font-size: 24px;
        padding-right: 60px;
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
        margin-bottom: 15px;

        &.cn {
            font-weight: 800;
        }
    }

    p {
        font-size: 16px;
        text-transform: uppercase;

    }
}



// about--------------------------------

.about-head {
    top: 20%;
    left: 15%;
    width: 30%;
    height: 60%;

}

.about-body {
    top: 30%;
    left: 45%;
    width: 40%;

    .title {
        padding-left: 35px;
    }

    .about-text {
        margin-top: -40px;
        padding: 50px 40px 40px;
        background-color: #333;
        color: #fff;
        line-height: 1.6rem;
        z-index: -1;
        box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
        text-align: justify;
    }
}

// line-bot--------------------------------
.service-head {
    top: 20%;
    left: 20%;
    width: 30%;
    height: 60%;
    text-align: center;

    h2 {
        margin-bottom: 40px;
    }

    .service-text {
        padding: 0 10%;
        color: #fff;
        text-align: justify;
        line-height: 1.6;
        margin-bottom: 10%;
    }

    i {
        font-size: 64px;
        color: lightgreen;
        padding: 15px;
    }
}

.service-body {
    top: 20%;
    left: 55%;
    width: 15%;
    height: 60%;
    border-radius: 15px;
    border: 3px solid #fff;
    box-shadow: 15px -15px 20px #48485030;
    -webkit-box-reflect: below 0px linear-gradient(transparent 95%, rgba(51, 51, 51, 0.4));

    img {
        transition: transform 3s;

        &:hover {

            transform: translateY(-70%);
        }
    }
}

.instruction {
    position: absolute;
    top: 105%;
    width: 80%;
    height: 90%;
    margin: 10% 10%;

    .title {
        margin: 5% 0;
        text-align: center;
    }

    .container {
        position: absolute;
        margin: 0 25%;
        width: 50%;
        height: 30vw;
    }

    .instruction-mask {
        width: 40vw;
        height: 30vw;
        margin: 0 auto;
    }

    .instruction-arrow {
        position: absolute;
        bottom: 5%;
        width: 50vw;
        margin: 0 -5vw;
        display: flex;
        justify-content: space-between;
        z-index: 1;

        a {
            display: block;
            width: 20px;
            height: 60px;
            background-image: url(../images/ss-cut-2.png);
            background-size: 300%;
            background-repeat: no-repeat;
        }

        .prev-arrow {
            background-position: 0 0;


            &:hover {
                background-position: 0 -60px;
            }
        }

        .next-arrow {
            background-position: -40px 0;

            &:hover {
                background-position: -40px -60px;
            }
        }

        .home-arrow {
            background-position: -20px 0;

            &:hover {
                background-position: -20px -60px;
            }
        }
    }
}

.instruction-ls {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 0;
    transition: all .3s;

}

.instruction-item {
    width: 40vw;
    height: 30vw;
    border: #2e367c 2px solid;
    border-radius: 5px;
    overflow: hidden;


    .instruction-head {
        position: relative;
        height: 80%;

        .img-resp {
            width: 50%;
            height: auto;
            position: absolute;
            margin: 10% 20% 0;
        }

        h2 {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #2e367c;
            padding: 2% 5%;
            border-radius: 0 0 5px 0;
        }
    }

    .instruction-body {
        text-align: center;

        p {
            font-size: 24px;
            line-height: 2rem;
            margin: 0 5%;
        }

        p.cn {
            text-align: justify;
        }

        p.en {
            text-align: left;
            margin: 0 10%;
        }
    }
}


// results--------------------------------

.result-head {
    .title {
        text-align: center;
    }

    top: 15%;
}

.result-body {
    top: 25%;
    left: 20%;
    width: 60%;


}



.ball-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    margin: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.data-ball {
    background-color: #21214b;
    width: 44%;
    height: 8vw;
    flex-direction: column;
    margin: 3%;
    transition: all .6s;

    &:hover {
        background-color: #2e367c;

        .hover-disappear {
            display: none;
        }

        .hover-appear {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .hover-appear {
        transform: translateY(100px);
        opacity: 0;
        transition: all .5s;
    }

    .data {
        // display: none;
        color: #21214b;
        transition: all .6s;
        font-size: 36px;

    }

    &:hover .data {
        // display: block;
        color: #fff;
    }
}

.ball1 {
    width: 100%;
}


// slide-member--------------------------------

.member-head,
.result-head {
    top: 15%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
}

.member-body {
    position: absolute;
    top: 30%;
    width: 80%;
    margin: 0 10%;

    img {
        box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
    }
}

.member-ls {
    display: flex;
    justify-content: space-between;
}

.member-item {
    width: 15%;
}

.member-name {
    color: #fff;
    font-size: 24px;
}

// Module--------------------------------

.slide-down {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 5%;
    background-image: radial-gradient(#3f3f50 5%, #17171d, transparent);
    transition: all .5s;


    // background-color: ;
    a {
        margin-top: -2%;
        font-size: 24px;
        transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }

}


// js--------------------------------
.js-lang-btn {
    display: none !important;
}

.js-lang-trans {
    transform: translateX(-200px);
}

.js-nav-btn>a {
    color: #fff;
}

.js-nav {
    // background-color: #17171dee;
    background-color: #0a0a0cee;
}

// RWD--------------------------------

@media screen and (min-width: 1200px) {

    .cover {
        top: 20%;
        left: 10%;
        width: 80%;

        .title {
            h1 {
                font-size: 80px;
            }

            h2 {
                font-size: 60px;
            }

            h3 {
                font-size: 48px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav-ls {
        width: 70%;
        font-size: 16px;
    }

    .lang-btn span {
        display: none;
    }

    .intro {
        width: 100%;
        height: 50vw;
    }

    .intro-item {
        height: 30vh;
    }

    .instruction {
        .instruction-mask {
            width: 50vw;
            height: 40vh;
        }

        .container {
            width: 50%;
            margin: 0 20%;
        }

        .instruction-item {
            display: flex;
            width: 50vw;
            height: 40vh;
        }

        .instruction-head {
            width: 60%;
            height: 60%;


            .img-resp {
                width: 60%;
                margin: 30%;
            }
        }

        .instruction-body {
            width: 30%;
            margin: auto 0;

            p {
                font-size: 20px;
            }
        }

        .instruction-arrow {

            width: 60vw;
        }
    }


    .cover {
        top: 30%;
        left: 10%;
    }

    .about-body {
        width: 40%;
    }

    .member-ls {
        display: flex;
        flex-wrap: wrap;
    }

    .member-item {
        width: 33.33%;
        padding: 30px;
    }

    .service-head {
        left: 15%;
        width: 50%;

        .title {
            padding: 15px 20px 35px;
        }
    }

    .service-body {
        left: 65%;
        top: 20%;
        height: 35%;
    }

    .service-other {
        margin: 0 20%;
        width: 60%;

        .title {
            margin-top: 30%;
        }
    }

    .ball-group {
        font-size: 24px;

        .data-ball {
            height: 25%;
            padding: 8%;
        }

        .data {
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 414px) {

    // tool


    // -----

    .nav-ls {
        width: 80%;
        font-size: 12px;
    }

    .nav-logo {
        background-color: transparent;
        position: static;
        height: 40px;
    }

    .lang-item {
        width: 15%;
        ;
    }

    .intro-item {
        width: 100%;
        margin-bottom: 5%;
    }

    .intro-item-info {
        padding-bottom: 10%;

        h2 {
            // font-size: 12px;
        }
    }

    .instruction {
        .instruction-mask {
            height: 40vh;
            width: 60vw;
        }

        .container {
            margin: 0 10vw;
        }

        .instruction-item {
            display: block;
            height: 40vh;
            width: 60vw;
        }

        .instruction-head {
            height: 60%;

            .img-resp {
                margin: 25% 43%;
                width: 80%;
            }
        }

        .instruction-body {
            margin: 0;
        }

        .instruction-body p {
            font-size: 12px;
            line-height: 1rem;
        }

        .instruction-arrow {
            bottom: -50%;
            width: 80vw;
            margin: 0 -10vw;
        }

    }



    .cover {
        // margin-top: 50%;

        .title {
            margin-top: -5%;

            h1 {
                padding: 6px 0;
                margin-left: -20px;
                font-size: 24px;
            }

            h2 {
                font-size: 16px;
            }

            h3 {
                font-size: 18px;
            }

            a {
                width: 70%;
                font-size: 10px;
            }
        }
    }

    .title {
        font-size: 24px;
        color: #fff;
        padding: 15px;
        text-transform: uppercase;
    }

    .about-head {
        top: 20%;
    }

    .about-body {
        top: 25%;
        overflow: scroll;

        .title {
            padding: 15px 15px 15px 25px;
        }

        .about-text {
            top: 25px;
            font-size: 12px;
            padding: 20px 25px 15px;
            margin-top: -30px;
        }
    }

    .service-head {
        left: 10%;
        width: 40%;
        height: 60%;

        .title {
            padding: 15px 0 15px;
        }

        .service-text {
            padding: 0;
            height: 50%;
            overflow: scroll;

        }

        i {
            font-size: 24px;
        }
    }

    .service-body {
        top: 30%;
        left: 55%;
        width: 30%;
        height: 40%;
    }

    .service-other {
        margin: 0 10%;
        width: 80%;

        .title {
            margin-top: 50%;
        }
    }

    .member-item {
        padding: 10px;
    }

    .result-head {
        .title {
            padding: 15px;
        }
    }

    .result-body {
        left: 10%;
        width: 80%;
    }

    .ball-group {
        font-size: 14px;

        .data-ball {
            height: 25%;
            padding: 8%;
        }

        .data {
            font-size: 20px;
        }
    }

    .slide-down {
        a {
            margin-top: -2%;
            font-size: 16px;
            transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }

    }
}