* {
    box-sizing: border-box;
}

body {
    background-color: #666;
    font-family: Arial, "微軟正黑體", Helvetica, sans-serif;
    color: #fff;
}



a {
    color: #fff;
    text-decoration: none;
}

// help
.img-resp {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.mask {
    overflow: hidden;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preload-img {
    font-size: 36px;
    z-index: -1;

    &::after {
        content: "preload-img";
        background-color: rgba(255, 255, 255, 0.1);
        display: block;
        text-align: center;
        line-height: 100vh;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}


// public

// navigation

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-ls {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}


.nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 120px;
    background-color: rgba(51, 51, 51, 0.3);


}

// slide
.slide {
    // width: 100vw;
    // height: 100vh;
}

.slide-item {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slide-head {
    position: absolute;
    // border: 2px solid yellowgreen;

    img {
        box-shadow: 15px 15px rgba(51, 51, 51, 0.6);
    }
}

.slide-body {
    position: absolute;
    // border: 2px solid orangered;
}

.title {
    font-size: 48px;
    color: #fff;
    padding: 15px 15px 15px 35px;
    text-transform: uppercase;
}

// home
.prev-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    font-size: 24px;
    border-radius: 50%;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    transition: background-color .3s;
    color: rgba(255, 255, 255, 0.4);

    &:hover {
        color: #666;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

// slide-about

.about-head {
    top: 20%;
    left: 15%;
    width: 30%;
    height: 60%;
}



.about-body {
    top: 30%;
    left: 45%;
    width: 30%;
    height: 60%;


    .about-text {
        position: absolute;
        top: 40px;
        padding: 50px 40px 40px;
        background-color: #333;
        color: #fff;
        line-height: 1.2rem;
        z-index: -1;
        box-shadow: 10px 10px rgba(51, 51, 51, 0.6);
        text-align: justify;
    }
}

// slide-member

.member-head {
    top: 15%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
}

.member-body {
    position: absolute;
    top: 30%;
    width: 80%;
    margin: 0 10%;
}

.member-ls {
    display: flex;
    justify-content: space-between;
}

.member-item {
    width: 15%;
}

.member-name {
    color: #fff;
    font-size: 24px;
}

// line-bot
.linebot-head {
    top: 20%;
    left: 15%;
    width: 30%;
    height: 60%;
    text-align: center;

    h2 {
        margin-bottom: 40px;
    }

    .linebot-text {
        padding: 10px;
        color: #fff;
        text-align: justify;
    }

    i {
        font-size: 64px;
        color: lightgreen;
        padding: 15px;
    }
}

.linebot-body {
    top: 10%;
    left: 55%;
    width: 20%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 15px -15px 20px #333;
    -webkit-box-reflect: below 0px linear-gradient(transparent 95%, rgba(51, 51, 51, 0.4));

    img {
        transition: transform 3s;
    }

    img:hover {
        transform: translateY(-70%);
    }
}

// screen: 768+
@media screen and (min-width: 768px) {
    .nav {
        font-size: 18px;
        text-transform: capitalize;
    }


}

// screen: 768-
@media screen and (width: 768px) {
    .nav-ls {
        flex-direction: column;
    }

    .nav-item {
        width: 100vw;
    }
}